<div class="container-fluid" id="AboutContainer"> 
    <div class="container">
        <h1 class="text-center mb-5 mt-5 text-light">About Us</h1>
        <div class="row text-center">
            <div class="col-lg-4">
                <i class="fas fa-music fa-8x text-white"></i>
            </div>
            <div class="col-lg-6 mb-5">
                <p class="text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, repellat sint, cum totam debitis quibusdam tempore dolorem ratione, quisquam unde rem inventore? Corporis, sequi reprehenderit. Magni sunt est saepe itaque aspernatur eos voluptates consectetur, dolorum molestias! Minus itaque illum nobis!</p>
            </div>
        </div>
    </div>
</div>