<header>
    <div>
        <div class="container-fluid mt-5">
            <img src="img/fender.png" class="rounded mx-auto d-block img-fluid animated zoomIn" alt="Fender">
        </div>
    </div>

    <div class="container mt-5">
        <p class="text-center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quasi mollitia dolorem, optio dignissimos error ipsa vero ab vel aliquid aspernatur cumque nostrum perferendis eveniet maxime velit? Fugit vitae consequatur eos illo repudiandae. Ad nostrum nesciunt doloribus ducimus in exercitationem neque inventore vel voluptatibus? Quasi architecto modi quas debitis vitae?</p>
        <p class="text-center btn-hover">
            <a href="#AboutContainer"><i class="fas fa-angle-down fa-5x"></i></a>
        </p>
    </div>
    
</header>